<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	<title>Dark Sky Weather API Query</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
		<h1>Dark Sky Weather API Query</h1>
	<p>This is a simple app to request and store weather data from Dark Sky's API.</p>
	<div class="zip-form">
		<p>The fields below will automatically populate with coordinates supplied by your browser. Alternatively, you can enter coordinates of your choosing. After clicking submit, weather data for that location will be returned. </p>
		<form class="form" action="/" method="post">
			<input type="text" name="lat" placeholder="Latitude">
			<input type="text" name="long" placeholder="Longitude">
			<button type="submit">Submit</button>
		</form>

		<% const currentConditions = Object.entries(data); %>
		
			<table class="table table-bordered">
				
				<thead class="thead-dark">
					<tr>
						<% currentConditions.forEach(function(metric) { %>
						<th><%= metric[0] %></th>
						<% }) %>
					</tr>
				</thead>
				<tbody>
					
					<tr>
					<% currentConditions.forEach(function(metric) { %>
						<td><%= metric[1] %></td>
						<% }) %>
					</tr>
				</tbody>
				
			</table>
		
	<script type="text/javascript">
			navigator.geolocation.getCurrentPosition(function(position) {
				document.getElementsByName("lat")[0].value = position.coords.latitude;
				document.getElementsByName("long")[0].value = position.coords.longitude;

			});
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>