<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	<title>API Interaction Example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
		<h1>Dark Sky Weather API Query & Store</h1>
	<p>This is a simple app to request and store weather data from Dark Sky's API.</p>
	<div class="zip-form">
		<p>The fields below will automatically populate with coordinates supplied by your browser. Alternatively, you can enter coordinates of your choosing. After clicking submit, weather data for that location will be returned. </p>
		<form class="form" action="/" method="post">
			<input type="text" name="lat" placeholder="Latitude">
			<input type="text" name="long" placeholder="Longitude">
			<button type="submit">Submit</button>
		</form>

		<%= JSON.stringify(data); %>
	<script type="text/javascript">
			navigator.geolocation.getCurrentPosition(function(position) {
				document.getElementsByName("lat")[0].value = position.coords.latitude;
				document.getElementsByName("long")[0].value = position.coords.longitude;

			});
	</script>
</body>
</html>